# Day 2 - Part 1)


* forward X increases the horizontal position by X units.
* down X increases the depth by X units.
* up X decreases the depth by X units.

In [21]:
import pandas as pd

df = pd.read_csv("input.txt", delimiter=" ", header=None)
df = df.rename(columns={0:'dir', 1:'value'})
df.head(5)

       dir  value
0  forward      2
1     down      2
2  forward      6
3  forward      8
4     down      8

In [22]:
fwd = df.loc[df.dir=='forward', 'value'].sum() # grab fwd total
down = df.loc[df.dir=='down', 'value'].sum()
up = df.loc[df.dir=='up', 'value'].sum()

In [23]:
print(fwd, down, up)

2034 1810 1108

In [24]:
fwd * (down-up) #answer = final horizontal position by your final depth

1427868

# Day 2 - Part 2)


* down X increases your aim by X units.
* up X decreases your aim by X units.
* forward X does two things:
    * It increases your horizontal position by X units.
    * It increases your depth by your aim multiplied by X.

## Example

In [27]:
directions = ['forward', 'down', 'forward', 'up', 'down', 'forward']
values = [5,5,8,3,8,2]

test_df = pd.DataFrame()
test_df['dir'] = directions
test_df['value'] = values

test_df

       dir  value
0  forward      5
1     down      5
2  forward      8
3       up      3
4     down      8
5  forward      2

In [55]:
aim = 0
depth = 0
pos = 0

for idx, row in test_df.iterrows():
    
    if row.dir == 'forward':
        pos += row.value
        depth += (aim * row.value)
    elif row.dir == 'down':
        aim += row.value
    elif row.dir == 'up':
        aim -= row.value    
    
    #print(f"{idx} - {row.dir}: aim:{aim}, position:{pos}, depth:{depth}")
    
print(f"aim:{aim}, position:{pos}, depth:{depth}")
print(f"answer: {pos*depth}")

aim:10, position:15, depth:60
answer: 900

### Actual

In [56]:
aim = 0
depth = 0
pos = 0

for idx, row in df.iterrows(): #eurgh had to use a loop
    
    if row.dir == 'forward':
        pos += row.value
        depth += (aim * row.value)
    elif row.dir == 'down':
        aim += row.value
    elif row.dir == 'up':
        aim -= row.value    
    
    #print(f"{idx} - action: {row.dir}: aim:{aim}, position:{pos}, depth:{depth}")
    
print(f"aim:{aim}, position:{pos}, depth:{depth}")
print(f"answer: {pos*depth}")

aim:702, position:2034, depth:770963
answer: 1568138742